/** @format */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-font: "ABeeZee", sans-serif;
  --secondary-font: "Barlow", sans-serif;
  --branding-color: rgb(66, 108, 163);
}
.github-link {
  font-size: 15px;
  font-family: var(--secondary-font);
}

.react-form {
  padding: 40px;
}
.react-input {
  font-size: 20px;
  font-family: var(--primary-font);
}
.search-button {
  font-size: 22px;
  font-family: var(--primary-font);
  border-radius: 5px;
}
.city-name {
  font-size: 90px;
  font-family: var(--primary-font);
}

.minmax-temp,
.description {
  font-size: 24px;
}

.humidity,
.wind {
  font-size: 20px;
}

.date,
.time {
  font-size: 16px;
}
.main-temperature {
  font-size: 75px;
  font-family: var(--primary-font);
}
.row {
  font-family: var(--secondary-font);
  padding: 20px;
}
